<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="panel panel-default">
        <div class="panel-footer text-center float-end">
            <a class="btn btn-primary" href="#create" ng-click="reset()">Thêm</a>
        </div>
        <br>
        <div class="table-responsive-xxl">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên Sản Phẩm</th>
                        <th>Ảnh</th>
                        <th>Thể Loại</th>
                        <th>Vật Liệu</th>
                        <th>Trạng Thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody >
                    <div class="overflow-y-scroll">
                        <tr ng-repeat="p in products">
                            <td>{{p.name}}</td>
                            <td><img src="{{'/files/'+p.img}}" alt="" style="height: 100px; width:100px;"></td>
                            <td>{{p.productCategory.productCategoryName}}</td>
                            <td>{{p.material.materialName}}</td>
                            <td>{{p.trangthai==1? "Hoạt động":"Không hoạt động" }}</td>
                            <td class="text-center">
                                <a href="#update/{{p.id}}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chi tiết!" ng-click="editProduct($index)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle " viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/admin/js/product-ctrl.js"></script>
        <script src="/assets/admin/js/category-ctrl.js"></script>
        <script src="/assets/admin/js/color-ctrl.js"></script>
        <script src="/assets/admin/js/material-ctrl.js"></script>
        <script src="/assets/admin/js/dimension-ctrl.js"></script>
    </div>
</body>

</html>